<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>

    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Import most up-to-date Bootstrap CSS Here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!-- Create a collapsible navbar content area -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Create an unordered list to hold the navigation links -->
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
  </nav>
  <div class = "container">
    <div class = "row"> 
      <div class = "col-1"> </div>
      <div class = "col-10"> 
        <h1> Welcome, trader! </h1>
        <h3>The stock market is a dynamic, complex environment with many opportunities to create and test trading strategies.
          Today we will be introducing you to bollinger bands and deploying them to your favorite stocks.
          Scroll down to learn more and then input the requested information to test your strategy on historical stock data.
        </h3>
        <br><br>
        
        <div class="accordion" id="accordionExample" >
          <!-- Accordion container -->
          <div class="accordion-item" >
            <!-- Accordion item #1 -->
            <h2 class="accordion-header" id="headingOne">
              <!-- Accordion header for item #1 -->
              <button
                class="accordion-button"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Simple Moving Average
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <!-- Collapsible content for item #1 -->
              <div class="accordion-body">
                <div class = "row">
                  <!-- <div class = "col-2">
              </div> -->
              <div class = "col-12">
                <p>A simple moving average (SMA) is an arithmetic moving average calculated by adding recent prices and then dividing by the number of days in the calculation period. For example, one could add the closing price of a security for a number of time periods and then divide this total by that same number of periods. Short-term averages respond quickly to changes in the price of the underlying security, while long-term averages are slower to react. The SMA evaluates the true price (the average of the high, low, and closing prices) for each day. s.</p>
              </div>
              </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                id = "acc_button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Bollinger Bands
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class = "row">
                  <div class = "col-3">
                    <p>A Bollinger Band is a technical analysis tool defined by a set of trendlines. They are plotted as a certain number of standard deviations (for the determined period) above and below the simple moving average (SMA) of a security's price. Since the width of the bands is based on standard deviation, they adjust to volatility swings in the underlying price. When the price of a stock hits either the upper or lower band, this may be interpreted as a signal to sell or buy.
                    </p>
                  </div>
    
                  <div class = "col-9">
                    <img src = "static\images\Bol_Band_Example.png" width = 100%>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div><br><br><br>
      </div>
      <div class = "row">
        <br><br><br>

        <div class = "col-1"> </div>
        <div class = "col-10">
        <form class = "input-field" method="post" action="/graphs">
          <label for="stock">What is the ticker symbol of the stock?</label>
          <input type="text" name="stock" required/>
          <br><br>
          <label for="startDate">Please input the starting date for the trading window: </label>
          <input type="date" name="startDate" id = "startDate" required/>
          <br><br>
          <label for="endDate">Please input the ending date for the trading window: </label>
          <input type="date" name="endDate" id = "endDate" required/>
          <br><br>

          <script> 
            var start = document.getElementById('startDate');
            var end = document.getElementById('endDate');


            start.addEventListener('change', function() {
                if (start.value)
                    end.min = start.value;
            }, false);
            end.addEventListener('change', function() {
                if (end.value)
                    start.max = end.value;
            }, false);
          </script>

          <label for="period">What is the window of the SMA (positive integer, frequently around 20 days)? </label>
          <input type="number" name="period" min = "1" step = "1" required/>
          <br><br>
          <label for="SDs">What is the number of standard deviations for the bollinger bands (positive float, frequently around 2)?</label>
          <input type="number" name="SDs" min = "0.0" step = ".01" required/>
          <br><br>
          <input class = "submit-btn" type="submit" />
        </form>
      </div>
    </div>
      <div class = "col-2"> </div>
    </div>
    <div class = "row">
      <!-- <h3>TSLA Historical Stock Price</h3>
      <img src = "static/images/Tesla-Stock.jpeg" width = 50>
      <h3>TSLA 20 Day Moving Average</h3>
      <img src = "static/images/Tesla-20-Day-SMA.jpeg" width = 50>
      <h3>TSLA Bollinger Bands</h3>
      <img src = "static/images/Tesla-BB.jpeg" width = 50> -->
    </div>
  </div>
  <script src="script.js"></script>
    <!-- Necessary Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>